<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa6ptQwN2NE2qaObC2Z6TO1AIqA-ZYaN0</string>
	<key>GCM_SENDER_ID</key>
	<string>977124095958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serch.drive</string>
	<key>PROJECT_ID</key>
	<string>serch-drive</string>
	<key>STORAGE_BUCKET</key>
	<string>serch-drive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977124095958:ios:367fcfaecbafeb3d5a9677</string>
</dict>
</plist>